.button {
	  display: inline-block;
	    background-color: #CCDDFF;
	      padding:2%;
	        border: 2px solid orange;
		  text-decoration: none;

	  }

	  .button:hover {
		  	background-color: red;
		}

		.button:active{
				background-color: blue;
					text-decoration: underline;
				}
				a {
						text-decoration: none;
							color: black;
						}

						.button-sm {
								padding: 2% 3%;
							}
							.button-md {
									padding: 2% 5%;
								}
								.button-lg {
										padding: 2% 9%;
									}
